
html{
    --global-color-1: #ef6423;
    --global-color-2: #4f210a;
    --global-color-3: white;
    background: linear-gradient(180deg, yellow 0%, var(--global-color-1) 0%, orange 100%);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
    margin: 0 auto;
    border: 0px;
    margin: 0px;
}
main {
    background-color: rgb(238, 60, 60);
}
#nav {
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;  }

/* the styles for the navigation menu */
#nav_menu{
    padding-bottom: 0%;
}
#nav_menu ul {
	list-style: none;
	margin: 0;
    clear:right;
    
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul li a {
    display: block;
    width: 370px;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #800000;
    color: white;
    font-weight: bold;
}
#nav_menu a.current {
	color: yellow;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}

/* the styles imgs */
img{
    display:block;
   margin-left: auto;
   margin-right: auto;
}

/* the styles for body */
h1{
    text-align:center;
    font-size: 200%;
}
h2{
    text-align: center;
}
p{
    font-size: 90%;
    text-align: center;
}
.EyeCatch{
    font-family:'Franklin Gothic MediumSS', 'Arial Narrow', Arial, sans-serif;
    color: #0505f8;
    font-size: 125%;
    font-style:italic ;
}
.boxapp{
    text-align: center;
}
.boxapp li{
    display: inline-block;
    list-style:none;
    padding-left: 5%;
    left: 10%;
}
.line1{
 width: 90%;

}
.line2{
    width: 90%;
   
   
   }
.line3{
    width: 90%;
   
   
   }

.boxwhy{
    text-align: center;
}
.boxwhy li{
    display: inline-block;

    list-style: none;
    padding-left: 5%;
 
    left: 10%;
}
.app{
    text-align: left;
    padding-left: 5%;
}
.Why{
    text-align: left;
    padding-left: 5%;

}
nav{
   text-align: center;
    font-size: 1em;
    padding-bottom: 2%;
}
a:hover {
    font-style: italic;
    color: #0000ff;
}
footer{
    text-align: center;
    
    border-top: 3px solid var(--global-color-2);
    border-bottom: 3px solid var(--global-color-2);
    
    background-color: var(--global-color-2);
    color: rgb(228, 214, 214);

}
article{
    padding-top: 1%;
}
footer p{
    text-align: left;
    font-size: 70%;
    padding-left: 5%;
}

